p.middle {
    font-size: larger;
    font-style: oblique;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    border-style:solid;
    border-color:darkcyan;
    padding: 1.5%;
    background-color:rgba(128, 189, 169, 0.665);
    box-shadow: 15px 15px 30px dimgray;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* new */
#notation {
    font-style: italic;
    font-weight: bold;
    font-size: large;
    color: darkgray;
}
#foot {
    color: grey;
}
h2, p{
    text-align: center;
}
/* button.carousel-control-prev, button.carousel-control-next {
    backdrop-filter: blur(10px)
} */
/* div div div {
    backdrop-filter: blur(20px)
} */