p.title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    text-align: center;
}
#carouselExampleCaptions {
    margin-left: 5%;
    margin-right: 5%;
}
#nav {
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 9px;
    background-color: gainsboro;
    width: 90%;
}
#navDiv, li.dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (min-width: 0px) {
    p.title {
        font-size: 50px;
    }
    p.long {
        font-size: 30px;
    }
    p.middle, #notation {
        font-size: medium;
    }
    #foot {
        font-size: small;
    }
} 
@media (min-width: 640px) {
    p.title {
        font-size: 80px;
    }
    p.long {
        font-size: 50px;
    }
    p.middle, #notation {
        font-size: large;
    }
    #foot {
        font-size: medium;
    }
}
@media (min-width: 1200px) {
    p.title {
        font-size: 120px;
    }
    p.long {
        font-size: 80px;
    }
    #foot {
        font-size: large;
    }
}   