{% extends "layouts/base.html" %}

{% block title %} My Store - Home {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="container">
	<img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" style="height: 400px" src="/static/img/error-404.jpg" alt="..." />
	<div class="page-inner">
			<h2>Error 404</h2>
			<h3 class="font-weight-light">
				The page you’re looking for was not found.
			</h3>
	</div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}