{% extends "layouts/base.html" %}

{% block title %} Home {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
                data-aos="fade-up" data-aos-delay="200">
                <h1>Clic top-right navbar</h1>
                <h2>To go to HW6 and HW7 page</h2>
                <div class="d-flex justify-content-center justify-content-lg-start">
                    <a href="https://github.com/Derekwang2002/MISY350/tree/main/Homework/HW6%2BHW7" class="btn-get-started scrollto">Code</a>
                    <a href="https://www.bilibili.com/video/BV1T8411f75P/?spm_id_from=333.1007.tianma.2-2-5.click&vd_source=18434ce110108b26baf1ab0b0a67cb4c" class="glightbox btn-watch-video"><i
                            class="bi bi-play-circle"></i><span>Watch Video</span></a>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                <img src="/static/assets/img/hero-img.png" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->

{% endblock content %}