{% extends "layouts/user_base.html" %}

{% block title %} Delete Account {% endblock title %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Account Settings /</span> Delete</h4>
    <!-- Account -->
    <div class="card mb-4">
        <div class="card">
            <h5 class="card-header">Delete Account</h5>
            <div class="card-body">
            <div class="mb-3 col-12 mb-0">
                <div class="alert alert-warning">
                <h6 class="alert-heading fw-bold mb-1">Are you sure you want to delete your account?</h6>
                <p class="mb-0">Once you delete your account, there is no going back. Please be certain.</p>
                </div>
            </div>
            <form id="formAccountDeactivation" action="{{url_for('indexhome')}}" method = 'post'>
                <div class="form-check mb-3">
                <input
                    class="form-check-input"
                    type="checkbox"
                    name="accountActivation"
                    id="accountActivation"
                    required
                />
                <label class="form-check-label"
                    >I confirm my account deactivation</label
                >
                </div>
                <button type="submit" class="btn btn-danger ">Deactivate Account</button>
            </form>
            </div>
        </div>
    </div>
</div>

<script>
    var activeItem = document.querySelector('#DeleteItem')
    var activeSuper = document.querySelector('#AccountItem')
    activeItem.classList.add('active')
    activeSuper.classList.add('active', 'open')
</script>
{% endblock content %}