
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>successfully sign up</title>
    <meta http-equiv="refresh" content="3;URL=login">
</head>
<body>
    <div class="container">
        <div class="page-inner">
                <h2>Congratulations! You have successfully sign up!</h2>
                <h3 class="font-weight-light">
                    Welcome to our tennis club!
                    <br>
                    Please remeber your member ID is {{newuser.MEID}}
                </h3>
                <h3>Wait for 3 seconds to direct to the Sign in page~</h3>
        </div>
    </div>  
</body>
</html>

