{% extends "layouts/base.html" %}

{% block title %} Inbox Challenge {% endblock title %}

{% block content %}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold pt-3 "><span class="text-muted fw-light">Challenge /</span> Bulletin Board</h4>
    <p class="mb-2 px-1"><small>Challenge requests available for all club members</small></p>
    this is bulletin board

</div>

<script>
    var activeItem = document.querySelector('#boardItem')
    var activeSuper = document.querySelector('#ChallengesItem')
    activeItem.classList.add('active')
    activeSuper.classList.add('active', 'open')
</script>

{% endblock content %}