{% extends "layouts/user_base.html" %}

{% block title %} Inbox Challenge {% endblock title %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold pt-3"><span class="text-muted fw-light">Challenge /</span> Inbox</h4>
    <p class="mb-2 px-1"><small>You can't change status after accepted/rejected</small></p>

    <div class="divider m-0">
        <div class="divider-text"><i class="menu-icon tf-icons fa-regular fa-hand-back-fist"></i></div>
    </div>

    <div class="card mb-4 mt-4">
        <h5 class="card-header">All</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <!-- <small class="text-light fw-semibold"></small> -->
                    <div class="demo-inline-spacing mt-3">
                        <div class="list-group">

                            {% for inChallenge, member in inChallenges %}
                            <a href="javascript:void(0);"
                                class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex justify-content-between w-100">
                                    <h6>FROM: <b>{{ member.FirstName }} {{ member.LastName }}</b>
                                        {% if member.UTR|int <= 5 %} <i class="fa-solid fa-fish me-1 text-light"></i>
                                        {% elif member.UTR|int <= 10 %} <i class="bx bx-shield-quarter me-1 text-light"></i>
                                          {% elif member.UTR|int >= 10 %}
                                          <i class="bx bxs-trophy me-1 text-light"></i>
                                          {% endif %}
                                    </h6>
                                    <small class="text-muted">{{ inChallenge.DateOfChallenge }}</small>
                                </div>

                                <p class="mb-1">
                                    {{ inChallenge.Notes }}
                                </p>

                                <div class="d-flex justify-content-between w-100">
                                    <small>UTR: {{ member.UTR }} | Age: {{ member.Age }} | Gender: {{ member.Gender }}</small>
                                    <div class="d-flex justify-content-between">
                                        {% if inChallenge.Status|int == 0 %}
                                        <input type="hidden" id="cid-{{ inChallenge.CID }}"
                                            value="{{ inChallenge.CID }}">
                                        <form id="accept-{{ inChallenge.CID }}">
                                            <input type="hidden" name="input-accept-{{ inChallenge.CID }}"
                                                value="accept">
                                            <button type="submit" class="btn btn-icon me-2 btn-success">
                                                <span class="tf-icons bx bx-check"></span>
                                            </button>
                                        </form>
                                        <form id="reject-{{ inChallenge.CID }}">
                                            <input type="hidden" name="reject-accept-{{ inChallenge.CID }}"
                                                value="reject">
                                            <button type="submit" class="btn btn-icon me-2 btn-danger">
                                                <span class="tf-icons bx bx-x"></span>
                                            </button>
                                        </form>
                                        {% elif inChallenge.Status|int == 1 %}
                                        <span class="badge bg-label-success me-1">accepted</span>
                                        {% elif inChallenge.Status|int == -1 %}
                                        <span class="badge bg-label-danger me-1">rejected</span>
                                        {% elif inChallenge.Status|int == 2 %}
                                        <span class="badge bg-label-info me-1">matched</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </a>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var activeItem = document.querySelector('#InboxItem')
    var activeSuper = document.querySelector('#ChallengesItem')
    activeItem.classList.add('active')
    activeSuper.classList.add('active', 'open')

    $(function () {
        $('#nav-search').keyup(function () {
            var searchQuery = $(this).val().trim();
            if (searchQuery != '') {
                search(searchQuery, 'challenges_inbox')
            }
        });
    })
</script>

<!-- decide challenges -->
<script>
    $(document).ready(function () {

        function decideForm(formID, cid) {
            $(formID).submit(function (e) {
                e.preventDefault();  // Prevent form submission

                // Get the form data
                var formData = {
                    'status': $(formID + ' input').val(),
                    'cid': $('#cid-' + cid).val(),
                };

                // Send an AJAX POST request to the Flask route
                $.ajax({
                    type: 'POST',
                    url: '/change_status',
                    data: JSON.stringify(formData),
                    contentType: 'application/json',
                    success: function (response) {
                        console.log(response);
                        // Handle the response from the server
                        alert(response.status.status + response.status.cid + response.message);
                    },
                    error: function (error) {
                        console.log(error);
                        // Handle errors, if any
                        alert('Error occurred!');
                    }
                });

                // Restore scroll position after the page reloads
                var scrollPosition = window.pageYOffset || document.documentElement.scrollTop;
                window.location.reload();
                window.scroll(0, scrollPosition);
            });
        }

        {% for inChallenge, member in inChallenges %}
        decideForm('#accept-{{ inChallenge.CID }}', '{{ inChallenge.CID }}')
        decideForm('#reject-{{ inChallenge.CID }}', '{{ inChallenge.CID }}')
        {% endfor %}

    });
</script>

{% endblock content %}