{% extends "layouts/base.html" %}

{% block title %} Inbox Challenge {% endblock title %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold pt-3"><span class="text-muted fw-light">Challenge /</span> Inbox</h4>
    <p class="mb-4 px-1"><small>You can't change status after accepted/rejected</small></p>

    <div class="card mb-4">
        <h5 class="card-header">All</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <!-- <small class="text-light fw-semibold"></small> -->
                    <div class="demo-inline-spacing mt-3">
                        <div class="list-group">

                            {% for inChallenge in inChallenges %}
                            <a href="javascript:void(0);"
                                class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex justify-content-between w-100">
                                    <h6>FROM: {{ inChallenge.ChallengerMEID }} <i class="fa-solid fa-fish me-1 text-light"></i></h6>
                                    <small>{{ inChallenge.DateOfChallenge }}</small>
                                </div>

                                <p class="mb-1">
                                    {{ inChallenge.Notes }}
                                </p>

                                <div class="d-flex justify-content-between w-100">
                                    <small>UTR, win rate, total match</small>
                                    <div class="d-flex justify-content-between">
                                        <input type="hidden" id="cid-{{ inChallenge.CID }}" value="{{ inChallenge.CID }}">
                                        <form id="accept-{{ inChallenge.CID }}">
                                            <input type="hidden" name="input-accept-{{ inChallenge.CID }}" value="accept">
                                            <button type="submit" class="btn btn-icon me-2 btn-success">
                                                <span class="tf-icons bx bx-check"></span>
                                            </button>
                                        </form>
                                        <form id="reject-{{ inChallenge.CID }}">
                                            <input type="hidden" name="reject-accept-{{ inChallenge.CID }}" value="reject">
                                            <button type="submit" class="btn btn-icon me-2 btn-danger">
                                                <span class="tf-icons bx bx-x"></span>
                                            </button>  
                                        </form>
                                    </div>
                                </div>
                            </a>
                            {% endfor %}

                            <a href="javascript:void(0);"
                                class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex justify-content-between w-10">
                                    <h6>And Past challengg info will shown here (matched)</h6>
                                    <small class="text-muted">3 days ago</small>
                                </div>
                                <p class="mb-1">
                                    Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus
                                    varius
                                    blandit.
                                </p>
                                <small class="text-muted">Donec id elit non mi porta.</small>
                            </a>
                            <a href="javascript:void(0);"
                                class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex justify-content-between w-100">
                                    <h6>List group item heading</h6>
                                    <small class="text-muted">3 days ago</small>
                                </div>
                                <p class="mb-1">
                                    Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus
                                    varius
                                    blandit.
                                </p>
                                <small class="text-muted">Donec id elit non mi porta.</small>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var activeItem = document.querySelector('#InboxItem')
    var activeSuper = document.querySelector('#ChallengesItem')
    activeItem.classList.add('active')
    activeSuper.classList.add('active', 'open')
</script>

<script>
    $(document).ready(function() {

        function ajaxGo(formID, cid){
            $(formID).submit(function(e) {
                e.preventDefault();  // Prevent form submission
    
                // Get the form data
                var formData = {
                    'status': $(formID+' input').val(),
                    'cid': $('#cid-' + cid).val(),
                };
    
                // Send an AJAX POST request to the Flask route
                $.ajax({
                    type: 'POST',
                    url: '/change_status',
                    data: JSON.stringify(formData),
                    contentType: 'application/json',
                    success: function(response) {
                        console.log(response);
                        // Handle the response from the server
                        alert(response.status.status + response.status.cid + response.message );
                    },
                    error: function(error) {
                        console.log(error);
                        // Handle errors, if any
                        alert('Error occurred!');
                    }
                });
            });
        }

        {% for inChallenge in inChallenges %}
        ajaxGo('#accept-{{ inChallenge.CID }}', '{{ inChallenge.CID }}')
        ajaxGo('#reject-{{ inChallenge.CID }}', '{{ inChallenge.CID }}')
        {% endfor %}

    });
</script>

{% endblock content %}