{% extends "layouts/user_base.html" %}

{% block title %} Inbox Challenge {% endblock title %}

{% block content %}

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="d-flex justify-content-between">
        <div>
            <h4 class="fw-bold pt-3 "><span class="text-muted fw-light">Challenge /</span> Bulletin Board</h4>
            <p class="mb-2 px-1"><small>Challenge requests available for all club members</small></p>
        </div>
        <div class="card-header">
            <ul class="nav nav-pills card-header-pills" role="tablist">
                <li class="nav-item">
                    <button type="button" id="master-pill" class="nav-link active btn-sm" data-bs-toggle="tab"
                        data-bs-target="#navs-pills-within-card-active" role="tab"
                        onclick="initMethod('#master-pill-div')"><b>MASTER</b></button>
                </li>
                <li class="nav-item">
                    <button type="button" id="competitive-pill" class="nav-link btn-sm" data-bs-toggle="tab"
                        data-bs-target="#navs-pills-within-card-link" role="tab"
                        onclick="initMethod('#competitive-pill-div')"><b>COMPETITIVE</b></button>
                </li>
                <li class="nav-item">
                    <button type="button" id="fish-pill" class="nav-link btn-sm" data-bs-toggle="tab"
                        data-bs-target="#navs-pills-within-card-active" role="tab"
                        onclick="initMethod('#fish-pill-div')"><b>FISH</b></button>
                </li>
            </ul>
        </div>
    </div>


    <div class="divider m-0">
        <div class="divider-text"><i class="menu-icon tf-icons fa-regular fa-hand-back-fist"></i></div>
    </div>

    <div class="row px-3 pill-display" id="master-pill-div" style="display: block;">
        <div class="col-12 card mb-2 mt-4">
            <h4 class="card-header">MASTER<i class="fa-solid fa-award mx-1 text-light"></i></h4>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <!-- <small class="text-light fw-semibold"></small> -->
                        <div class="demo-inline-spacing mt-3">
                            <div class="list-group">

                                {% for bulletinChanllenge in bulletinChanllenges %}
                                <a href="javascript:void(0);"
                                    class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="d-flex justify-content-between w-100">
                                        <h6 class="mt-2"> <mark>FROM: {{ bulletinChanllenge.ChallengerMEID }}</mark>
                                        </h6>
                                        <small class="text-muted">{{ bulletinChanllenge.DateOfChallenge }}</small>
                                    </div>

                                    <p class="mb-1">
                                        <b>{{ bulletinChanllenge.Notes }}</b>
                                    </p>

                                    <div class="d-flex justify-content-between w-100">
                                        <small>UTR, win rate, total match</small>
                                        <div class="d-flex justify-content-between">
                                            <input type="hidden" id="cid-{{ bulletinChanllenge.CID }}"
                                                value="{{ bulletinChanllenge.CID }}">
                                            <form id="accept-{{ bulletinChanllenge.CID }}">
                                                <input type="hidden" name="input-accept-{{ bulletinChanllenge.CID }}"
                                                    value="accept">
                                                <button type="submit" class="btn me-2 btn-success">
                                                    <b>Take it!</b>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  -->
    </div>

    <div class="row px-3 pill-display" id="competitive-pill-div" style="display: none;">
        <div class="col-12 card mb-2 mt-4">
            <h4 class="card-header">COMPETITIVE<i class="fa-solid fa-shield-halved mx-1 text-light"></i></h4>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <!-- <small class="text-light fw-semibold"></small> -->
                        <div class="demo-inline-spacing mt-3">
                            <div class="list-group">

                                {% for bulletinChanllenge in bulletinChanllenges %}
                                <a href="javascript:void(0);"
                                    class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="d-flex justify-content-between w-100">
                                        <h6 class="mt-2"> <mark>FROM: {{ bulletinChanllenge.ChallengerMEID }}</mark>
                                        </h6>
                                        <small class="text-muted">{{ bulletinChanllenge.DateOfChallenge }}</small>
                                    </div>

                                    <p class="mb-1">
                                        <b>{{ bulletinChanllenge.Notes }}</b>
                                    </p>

                                    <div class="d-flex justify-content-between w-100">
                                        <small>UTR, win rate, total match</small>
                                        <div class="d-flex justify-content-between">
                                            <input type="hidden" id="cid-{{ bulletinChanllenge.CID }}"
                                                value="{{ bulletinChanllenge.CID }}">
                                            <form id="accept-{{ bulletinChanllenge.CID }}">
                                                <input type="hidden" name="input-accept-{{ bulletinChanllenge.CID }}"
                                                    value="accept">
                                                <button type="submit" class="btn me-2 btn-success">
                                                    <b>Take it!</b>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  -->
    </div>

    <div class="row px-3 pill-display" id="fish-pill-div" style="display: none;">
        <div class="col-12 card mb-2 mt-4">
            <h4 class="card-header">Fish<i class="fa-solid fa-fish mx-1 text-light"></i></h4>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <!-- <small class="text-light fw-semibold"></small> -->
                        <div class="demo-inline-spacing mt-3">
                            <div class="list-group">

                                {% for bulletinChanllenge in bulletinChanllenges %}
                                <a href="javascript:void(0);"
                                    class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="d-flex justify-content-between w-100">
                                        <h6 class="mt-2"> <mark>FROM: {{ bulletinChanllenge.ChallengerMEID }}</mark>
                                        </h6>
                                        <small class="text-muted">{{ bulletinChanllenge.DateOfChallenge }}</small>
                                    </div>

                                    <p class="mb-1">
                                        <b>{{ bulletinChanllenge.Notes }}</b>
                                    </p>

                                    <div class="d-flex justify-content-between w-100">
                                        <small>UTR, win rate, total match</small>
                                        <div class="d-flex justify-content-between">
                                            <input type="hidden" id="cid-{{ bulletinChanllenge.CID }}"
                                                value="{{ bulletinChanllenge.CID }}">
                                            <form id="accept-{{ bulletinChanllenge.CID }}">
                                                <input type="hidden" name="input-accept-{{ bulletinChanllenge.CID }}"
                                                    value="accept">
                                                <button type="submit" class="btn me-2 btn-success">
                                                    <b>Take it!</b>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  -->
    </div>

</div>

<script>
    var activeItem = document.querySelector('#boardItem')
    var activeSuper = document.querySelector('#ChallengesItem')
    activeItem.classList.add('active')
    activeSuper.classList.add('active', 'open')

    function initMethod(pillID) {
        var pillDisplayDiv = document.querySelectorAll('div.pill-display');
        pillDisplayDiv.forEach(function (pdiv) {
            pdiv.style.display = 'none';
        });
        $(pillID).attr('style', 'display: block');
    }
</script>

{% endblock content %}