{% extends "layouts/base.html" %}

{% block title %} Initiate Challenge {% endblock title %}

{% block content %}

<div class="container-xxl flex-grow-1 container-p-y">
    <h5 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Challenge /</span> Initiate</h5>

    <!-- Collapse -->
    <h3>Challengable Members</h3>
    <br>
    <div class="row">

    <!-- each card -->
    
    {% for member in members %}
    <div class="col-12">
        <div class="card mb-4">
        <h5 class="card-header">Basic</h5>
        <div class="card-body">
            <p class="card-text">
            Toggle the visibility of content across your project with a few classes and our JavaScript
            plugins.
            </p>
            <p class="demo-inline-spacing">
            <button
                class="btn btn-primary me-1"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseExample"
                aria-expanded="false"
                aria-controls="collapseExample"
            >
                Details
            </button>
            <a
                class="btn btn-primary me-1"
                data-bs-toggle="collapse"
                href="/challenge_form"
                role="button"
                aria-expanded="false"
                aria-controls="collapseExample"
            >
                Challenge
            </a>
            </p>
            <div class="collapse" id="collapseExample">
            <div class="d-grid d-sm-flex p-3 border">
                <!-- <img
                src="../assets/img/elements/1.jpg"
                alt="collapse-image"
                height="125"
                class="me-4 mb-sm-0 mb-2"
                /> -->
                <span>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                galley of type and scrambled it to make a type specimen book. It has survived not only five
                centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                passages, and more recently with desktop publishing software like Aldus PageMaker including
                versions of Lorem Ipsum.It is a long established fact that a reader will be distracted by
                the readable content of a page when looking at its layout. The point of using Lorem Ipsum is
                that it has a more-or-less normal distribution of letters.
                </span>
            </div>
            </div>
        </div>
        </div>
    </div>
    {% endfor %}

    <div class="col-12">
        <div class="card mb-4">
        <h5 class="card-header">Basic</h5>
        <div class="card-body">
            <p class="card-text">
            Toggle the visibility of content across your project with a few classes and our JavaScript
            plugins.
            </p>
            <p class="demo-inline-spacing">
            <button
                class="btn btn-primary me-1"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseExample"
                aria-expanded="false"
                aria-controls="collapseExample"
            >
                Details
            </button>
            <a
                class="btn btn-primary me-1"
                href="/challenges_form"

            >
                Challenge
            </a>
            </p>
            <div class="collapse" id="collapseExample">
            <div class="d-grid d-sm-flex p-3 border">
                <!-- <img
                src="../assets/img/elements/1.jpg"
                alt="collapse-image"
                height="125"
                class="me-4 mb-sm-0 mb-2"
                /> -->
                <span>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                galley of type and scrambled it to make a type specimen book. It has survived not only five
                centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                passages, and more recently with desktop publishing software like Aldus PageMaker including
                versions of Lorem Ipsum.It is a long established fact that a reader will be distracted by
                the readable content of a page when looking at its layout. The point of using Lorem Ipsum is
                that it has a more-or-less normal distribution of letters.
                </span>
            </div>
            </div>
        </div>
        </div>
    </div>

    </div>
</div>

<script>
    var activeItem = document.querySelector('#InitiateItem')
    var activeSuper = document.querySelector('#ChallengesItem')
    activeItem.classList.add('active')
    activeSuper.classList.add('active')
</script>

{% endblock content %}