{% extends "layouts/user_base.html" %}

{% block title %} Initiate Challenge {% endblock title %}

{% block content %}

<div class="container-xxl flex-grow-1 container-p-y">
  <h4 class="fw-bold pt-3 "><span class="text-muted fw-light">Challenge /</span> Settled</h4>
  <p class="mb-2 px-1"><small>All matched challenges you involved </small></p>

  <div class="divider m-0">
    <div class="divider-text"><i class="menu-icon tf-icons fa-regular fa-hand-back-fist"></i></div>
  </div>

  <div class="card mt-4">
    <h5 class="card-header">All</h5>
    <div class="table-responsive text-nowrap border-bottom">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>CID</th>
            <th>MAID</th>
            <th>Challenger</th>
            <th>Chellenged</th>
            <th>Notes</th>
            <th>Date</th>
            <th>Winner</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">

          {% for settledChallenge, tmatch, winner, cer, ced in settledChallenges %}
          <tr>
            <td>
              {{ settledChallenge.CID }}
            </td>
            <td>
              {{ tmatch.MAID }}
            </td>
            <td>
              <strong>{{ cer.FirstName }} {{ cer.LastName }} ({{ cer.MEID }})</strong>
            </td>
            <td>
              {{ ced.FirstName }} {{ ced.LastName }} ({{ ced.MEID }})
            </td>
            <td>
              {{ settledChallenge.Notes }}
            </td>
            <td>
              {{ settledChallenge.DateOfChallenge }}
            </td>
            <td>
              {{ winner.FirstName }} {{ winner.LastName }}
            </td>
          </tr>
          {% endfor %}
          {% if settledCount == 0 %}
          <tr>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
          </tr>
          {% endif %}


        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  var activeItem = document.querySelector('#SettleItem')
  var activeSuper = document.querySelector('#ChallengesItem')
  activeItem.classList.add('active')
  activeSuper.classList.add('active', 'open')
</script>

{% endblock %}