{% extends "layouts/base.html" %}

{% block title %} Initiate Challenge {% endblock title %}

{% block content %}

<div class="container-xxl flex-grow-1 container-p-y">
  <h4 class="fw-bold pt-3 "><span class="text-muted fw-light">Challenge /</span> Settled</h4>
    <p class="mb-2 px-1"><small>All matched challenges you involved </small></p>
  this is settle box
</div>

<script>
  var activeItem = document.querySelector('#SettleItem')
  var activeSuper = document.querySelector('#ChallengesItem')
  activeItem.classList.add('active')
  activeSuper.classList.add('active', 'open')
</script>

{% endblock %}