{% extends "layouts/user_base.html" %}

{% block title %} Sent Challenges {% endblock title %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold pt-3"><span class="text-muted fw-light">Challenge /</span> Sent</h4>
    <p class="mb-2 px-1"><small>You can see all chellenge requests you've sent</small></p>

    <div class="divider m-0">
        <div class="divider-text"><i class="menu-icon tf-icons fa-regular fa-hand-back-fist"></i></div>
    </div>

    <div class="card mt-4">
        <h5 class="card-header">All</h5>
        <div class="table-responsive text-nowrap border-bottom">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Send to</th>
                        <th>UTR</th>
                        <th>Notes</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">

                    {% for sentChallenge, member in sentChallenges %}
                    <tr>
                        <td>
                            {% if sentChallenge.ChallengedMEID == 0 %}
                            <strong>Bulletin</strong>
                            {% else  %}
                                {% if member.UTR|int <= 5 %} 
                                <i class="fa-solid fa-fish me-1 text-light"></i>
                                {% elif member.UTR|int <= 10 %} 
                                <i class="bx bx-shield-quarter me-1 text-light"></i>
                                {% elif member.UTR|int >= 10 %}
                                <i class="bx bxs-trophy me-1 text-light"></i>
                                {% endif %}
                            <strong>{{ member.FirstName }} {{ member.LastName }} ({{ member.MEID }})</strong>
                            {% endif %}
                        </td>
                        <td><strong>{{ member.UTR }}</strong></td>
                        <td>
                            {{ sentChallenge.Notes }}
                        </td>
                        <td>{{ sentChallenge.DateOfChallenge }}</td>
                        <td>
                            {% if sentChallenge.Status|int == 0 %}
                            <span class="badge bg-label-secondary me-1">TBD</span>
                            {% elif sentChallenge.Status|int == 1 %}
                            <span class="badge bg-label-success me-1">accepted</span>
                            {% elif sentChallenge.Status|int == -1 %}
                            <span class="badge bg-label-danger me-1">rejected</span>
                            {% elif sentChallenge.Status|int == 2 %}
                            <span class="badge bg-label-info me-1">matched</span>
                            {% endif %}
                        </td>
                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                                    data-bs-toggle="dropdown">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item">
                                        <i class="bx bx-info-circle me-2"></i>CID:{{ sentChallenge.CID }}
                                    </a>
                                    {% if sentChallenge.Status == 0 %}
                                    <a href="#" class="dropdown-item"
                                    onclick="cancelForm(event, '{{ sentChallenge.CID }}')">
                                    <i class="bx bx-undo me-1"></i>
                                    Cancel
                                    </a>
                                    {% else %}
                                    <a class="dropdown-item"
                                    onclick="cancelForm(event, '{{ sentChallenge.CID }}')">
                                    <i class="bx bx-undo me-1"></i>
                                    Can't Cancel
                                    </a>
                                    {% endif %}
                                    
                                
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}

                    {% if sentCount == 0 %}
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    var activeItem = document.querySelector('#SentItem')
    var activeSuper = document.querySelector('#ChallengesItem')
    activeItem.classList.add('active')
    activeSuper.classList.add('active', 'open')

    function cancelForm(event, cid) {
        event.preventDefault();
        $.ajax({
            url: '/del',
            method: 'POST',
            data: { 'cid': cid },
            success: function (response) {
                // Handle the server response
                console.log(response);
                alert(response)
            },
            error: function (error) {
                // Handle any errors
                console.log(error)
                alert(error);
            }
        });

        // Restore scroll position after the page reloads
        var scrollPosition = window.pageYOffset || document.documentElement.scrollTop;
        window.location.reload();
        window.scroll(0, scrollPosition);
    }

    $(function () {
        $('#nav-search').keyup(function () {
            var searchQuery = $(this).val().trim();
            if (searchQuery != '') {
                search(searchQuery, 'challenges_sent')
            }
        });
    })
</script>

{% endblock content %}