{% extends "layouts/base.html" %}

{% block title %} Sent Challenges {% endblock title %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Challenge /</span> Sent</h4>

    <div class="card">
        <h5 class="card-header">Sent Challenges</h5>
        <div class="table-responsive text-nowrap border-bottom">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Challenge to</th>
                        <th>UTR</th>
                        <th>Notes</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">

                    {% for sentChallenge in sentChallenges %}
                    <tr>
                        <td><i class="fa-solid fa-fish me-1 text-light"></i> <strong>{{ sentChallenge.ChallengedMEID }}</strong></td>
                        <td><strong>UTR</strong></td>
                        <td>
                            {{ sentChallenge.Notes }}
                        </td>
                        <td>yyyy-mm-dd</td>
                        <td>
                            {% if sentChallenge.Status|int == 0 %}
                            <span class="badge bg-label-secondary me-1">TBD</span>
                            {% endif %}
                            {% if sentChallenge.Status|int == 1 %}
                            <span class="badge bg-label-success me-1">accepted</span>
                            {% endif %}
                            {% if sentChallenge.Status|int == -1 %}
                            <span class="badge bg-label-danger me-1">rejected</span>
                            {% endif %}
                            {% if sentChallenge.Status|int == 2 %}
                            <span class="badge bg-label-info me-1">matched</span>
                            {% endif %}
                        </td>
                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                                    data-bs-toggle="dropdown">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="edit('{{sentChallenge}}')"><i
                                        class="bx bx-edit-alt me-1"></i>Detail</a >
                                    <a class="dropdown-item" onclick="del('{{sentChallenge.CID}}')"><i class="bx bx-undo me-1"></i>
                                        Cancel</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}

                    <tr>
                        <td><i class="fa-solid fa-award me-2 text-light"></i> <strong>Alan</strong></td>
                        <td>7.5</td>
                        <td>
                            lorem
                        </td>
                        <td>yyyy-mm-dd</td>
                        <td><span class="badge bg-label-success me-1">accepted</span></td>
                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                                    data-bs-toggle="dropdown">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="javascript:void(0);"><i
                                            class="bx bx-edit-alt me-1"></i> Edit</a>
                                    <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i>
                                        Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><i class="fa-solid fa-shield-halved me-1 text-light"></i> <strong>Harry</strong></td>
                        <td>10.5</td>
                        <td>
                            lorem
                        </td>
                        <td>yyyy-mm-dd</td>
                        <td><span class="badge bg-label-secondary me-1">TBD</span></td>
                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                                    data-bs-toggle="dropdown">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="javascript:void(0);"><i
                                            class="bx bx-edit-alt me-1"></i> Edit</a>
                                    <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-undo me-1"></i>
                                        Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fa-solid fa-fish me-1 text-light"></i> <strong>Zhang san</strong>
                        </td>
                        <td>3.5</td>
                        <td>
                            lorem
                        </td>
                        <td>yyyy-mm-dd</td>
                        <td><span class="badge bg-label-danger me-1">rejected</span></td>
                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                                    data-bs-toggle="dropdown">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="javascript:void(0);"><i
                                            class="bx bx-edit-alt me-1"></i> Edit</a>
                                    <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i>
                                        Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    var activeItem = document.querySelector('#SentItem')
    var activeSuper = document.querySelector('#ChallengesItem')
    activeItem.classList.add('active')
    activeSuper.classList.add('active', 'open')

    function edit(cid){
        location.href='/edit?cid=' + cid
    }

    function del(cid){
        location.href='/del?cid=' + cid
    }
</script>

{% endblock content %}